            <div class="card" style="width: 18rem;">
                <img src="{{foto}}" class="card-img-top" alt="{{nombre}}">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{marca}}</p>
                    <p class="card-text">uSD${{precio}}</p>
                    <a href="#" class="btn btn-primary">Agregar al Carrito</a> <!--falta poner funciona al btn-->
                </div>
            </div>