<section class="container mt-4">
    <article>
        <div class="card mb-3 border-0" >
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{doc.foto}}" class="img-fluid rounded-start" alt="{{doc.nombre}}"/>
                </div>
                <div class="col-md-6 border">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{doc.nombre}}</h5>
                        <p class="card-text text-center">{{doc.marca}}</p>
                        <p class="card-text text-center">Precio: USD ${{doc.precio}}</p>
                            <div class="container count__custom">
                                <button class="btn btn-primary">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="container border-top my-3">
                <h6 class="mt-2">Descripción del Producto</h6>
                <p>{{doc.descripcion}}</p>
            </div>
        </div>
    </article>
</section>